
p {
font-size: 20px;   
}

.container-fluid {
    text-align: center;
}
.well .inner {
    opacity: 0.9; /* opacity [0-1] */
    -moz-opacity: 0.9; /* opacity [0-1] */
    -webkit-opacity: 0.9; /* opacity [0-1] */
    background: #77D865 /*#c4c4c4;*/ 
}

#ben {
    background-color: #f00;
}
#al {
    display: inline-block;
}
#no {
    cursor: default;
}
.description {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
 /*   text-justify: inter-word; */
}
.glyphicon {
       color: #ddd; 
       font-size: 28px;
        -webkit-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    
        
}
.glyphicon:link {
  text-decoration:none;
  color: #ddd;
}
.glyphicon:visited {
  text-decoration:none;
  color: #ddd;
}
.glyphicon:hover {
  text-decoration:none;
  color: #bbb;
}

#flappy:hover {
    text-decoration: none;
}






