body { max-width: 75%; padding-left: 12%;}
h1 { text-align: center; color: #00cc00; }
a { text-decoration: none; }
#ben { text-align: center; }
#operation { text-align: center; }
#code { font-size: 17px; font-family: monospace; background-color: #dddddd; }
p  { font-size: 19px; font-family: Times New Roman; color:  }
ol { font-size: 19px; }
div { font-size: 20px; }